/.vscode
/venv
src/media/
src/kolyma_store/settings/local_settings.py
src/collect_static
src/collect_static/admin/css/autocomplete.css
src/collect_static/admin/css/base.css
src/collect_static/admin/css/changelists.css
src/collect_static/admin/css/dashboard.css
src/collect_static/admin/css/fonts.css
src/collect_static/admin/css/forms.css
src/collect_static/admin/css/login.css
src/collect_static/admin/css/nav_sidebar.css
src/collect_static/admin/css/responsive_rtl.css
src/collect_static/admin/css/responsive.css
src/collect_static/admin/css/rtl.css
src/collect_static/admin/css/widgets.css
src/collect_static/admin/css/vendor/select2/LICENSE-SELECT2.md
src/collect_static/admin/css/vendor/select2/select2.css
src/collect_static/admin/css/vendor/select2/select2.min.css
src/collect_static/admin/fonts/LICENSE.txt
src/collect_static/admin/fonts/README.txt
src/collect_static/admin/fonts/Roboto-Bold-webfont.woff
src/collect_static/admin/fonts/Roboto-Light-webfont.woff
src/collect_static/admin/fonts/Roboto-Regular-webfont.woff
src/collect_static/admin/img/calendar-icons.svg
src/collect_static/admin/img/icon-addlink.svg
src/collect_static/admin/img/icon-alert.svg
src/collect_static/admin/img/icon-calendar.svg
src/collect_static/admin/img/icon-changelink.svg
src/collect_static/admin/img/icon-clock.svg
src/collect_static/admin/img/icon-deletelink.svg
src/collect_static/admin/img/icon-no.svg
src/collect_static/admin/img/icon-unknown-alt.svg
src/collect_static/admin/img/icon-unknown.svg
src/collect_static/admin/img/icon-viewlink.svg
src/collect_static/admin/img/icon-yes.svg
src/collect_static/admin/img/inline-delete.svg
src/collect_static/admin/img/LICENSE
src/collect_static/admin/img/README.txt
src/collect_static/admin/img/search.svg
src/collect_static/admin/img/selector-icons.svg
src/collect_static/admin/img/sorting-icons.svg
src/collect_static/admin/img/tooltag-add.svg
src/collect_static/admin/img/tooltag-arrowright.svg
src/collect_static/admin/img/gis/move_vertex_off.svg
src/collect_static/admin/img/gis/move_vertex_on.svg
src/collect_static/admin/js/actions.js
src/collect_static/admin/js/autocomplete.js
src/collect_static/admin/js/calendar.js
src/collect_static/admin/js/cancel.js
src/collect_static/admin/js/change_form.js
src/collect_static/admin/js/collapse.js
src/collect_static/admin/js/core.js
src/collect_static/admin/js/inlines.js
src/collect_static/admin/js/jquery.init.js
src/collect_static/admin/js/nav_sidebar.js
src/collect_static/admin/js/popup_response.js
src/collect_static/admin/js/prepopulate_init.js
src/collect_static/admin/js/prepopulate.js
src/collect_static/admin/js/SelectBox.js
src/collect_static/admin/js/SelectFilter2.js
src/collect_static/admin/js/urlify.js
src/collect_static/admin/js/admin/DateTimeShortcuts.js
src/collect_static/admin/js/admin/RelatedObjectLookups.js
src/collect_static/admin/js/vendor/jquery/jquery.js
src/collect_static/admin/js/vendor/jquery/jquery.min.js
src/collect_static/admin/js/vendor/jquery/LICENSE.txt
src/collect_static/admin/js/vendor/select2/LICENSE.md
src/collect_static/admin/js/vendor/select2/select2.full.js
src/collect_static/admin/js/vendor/select2/select2.full.min.js
src/collect_static/admin/js/vendor/select2/i18n/af.js
src/collect_static/admin/js/vendor/select2/i18n/ar.js
src/collect_static/admin/js/vendor/select2/i18n/az.js
src/collect_static/admin/js/vendor/select2/i18n/bg.js
src/collect_static/admin/js/vendor/select2/i18n/bn.js
src/collect_static/admin/js/vendor/select2/i18n/bs.js
src/collect_static/admin/js/vendor/select2/i18n/ca.js
src/collect_static/admin/js/vendor/select2/i18n/cs.js
src/collect_static/admin/js/vendor/select2/i18n/da.js
src/collect_static/admin/js/vendor/select2/i18n/de.js
src/collect_static/admin/js/vendor/select2/i18n/dsb.js
src/collect_static/admin/js/vendor/select2/i18n/el.js
src/collect_static/admin/js/vendor/select2/i18n/en.js
src/collect_static/admin/js/vendor/select2/i18n/es.js
src/collect_static/admin/js/vendor/select2/i18n/et.js
src/collect_static/admin/js/vendor/select2/i18n/eu.js
src/collect_static/admin/js/vendor/select2/i18n/fa.js
src/collect_static/admin/js/vendor/select2/i18n/fi.js
src/collect_static/admin/js/vendor/select2/i18n/fr.js
src/collect_static/admin/js/vendor/select2/i18n/gl.js
src/collect_static/admin/js/vendor/select2/i18n/he.js
src/collect_static/admin/js/vendor/select2/i18n/hi.js
src/collect_static/admin/js/vendor/select2/i18n/hr.js
src/collect_static/admin/js/vendor/select2/i18n/hsb.js
src/collect_static/admin/js/vendor/select2/i18n/hu.js
src/collect_static/admin/js/vendor/select2/i18n/hy.js
src/collect_static/admin/js/vendor/select2/i18n/id.js
src/collect_static/admin/js/vendor/select2/i18n/is.js
src/collect_static/admin/js/vendor/select2/i18n/it.js
src/collect_static/admin/js/vendor/select2/i18n/ja.js
src/collect_static/admin/js/vendor/select2/i18n/ka.js
src/collect_static/admin/js/vendor/select2/i18n/km.js
src/collect_static/admin/js/vendor/select2/i18n/ko.js
src/collect_static/admin/js/vendor/select2/i18n/lt.js
src/collect_static/admin/js/vendor/select2/i18n/lv.js
src/collect_static/admin/js/vendor/select2/i18n/mk.js
src/collect_static/admin/js/vendor/select2/i18n/ms.js
src/collect_static/admin/js/vendor/select2/i18n/nb.js
src/collect_static/admin/js/vendor/select2/i18n/ne.js
src/collect_static/admin/js/vendor/select2/i18n/nl.js
src/collect_static/admin/js/vendor/select2/i18n/pl.js
src/collect_static/admin/js/vendor/select2/i18n/ps.js
src/collect_static/admin/js/vendor/select2/i18n/pt-BR.js
src/collect_static/admin/js/vendor/select2/i18n/pt.js
src/collect_static/admin/js/vendor/select2/i18n/ro.js
src/collect_static/admin/js/vendor/select2/i18n/ru.js
src/collect_static/admin/js/vendor/select2/i18n/sk.js
src/collect_static/admin/js/vendor/select2/i18n/sl.js
src/collect_static/admin/js/vendor/select2/i18n/sq.js
src/collect_static/admin/js/vendor/select2/i18n/sr-Cyrl.js
src/collect_static/admin/js/vendor/select2/i18n/sr.js
src/collect_static/admin/js/vendor/select2/i18n/sv.js
src/collect_static/admin/js/vendor/select2/i18n/th.js
src/collect_static/admin/js/vendor/select2/i18n/tk.js
src/collect_static/admin/js/vendor/select2/i18n/tr.js
src/collect_static/admin/js/vendor/select2/i18n/uk.js
src/collect_static/admin/js/vendor/select2/i18n/vi.js
src/collect_static/admin/js/vendor/select2/i18n/zh-CN.js
src/collect_static/admin/js/vendor/select2/i18n/zh-TW.js
src/collect_static/admin/js/vendor/xregexp/LICENSE.txt
src/collect_static/admin/js/vendor/xregexp/xregexp.js
src/collect_static/admin/js/vendor/xregexp/xregexp.min.js
src/collect_static/mdls/js/o3dv.min-0.7.9.js
src/collect_static/mdls/js/three.min-126.js
