{% extends 'base.html' %}
{% block title %}{{ user.username }}{% endblock %}

{% block link %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <h1 class="row">{{ user.username }}</h1>
            <figure class="row">
                <img src="user.profile.avatar.url" alt="" sizes="" srcset="">
            </figure>
        </div>
        <div class="col-md-8 container">
            <div class="row my-2">
                <table class="table col-md">
                    <tbody>
                        <tr>
                            <td scope="row">Имя и фамилия: </td>
                            <td>{{ user.first_name }} {{ user.last_name }}</td>
                        </tr>
                        <tr>
                            <td scope="row">Почта: </td>
                            <td>{{ user.email }}</td>
                        </tr>
                        <tr>
                            <td scope="row">Номер телефона: </td>
                            <td>{{ user.profile.phonenumber }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}